.page {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 64%;
  overflow: hidden;
  min-width: 0;
}

.aside {
  display: flex;
  flex-basis: 36%;
}

@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }
  .aside {
    order: 1;
    width: 100%;
  }

  .container {
    min-width: 0;
    width: 100%;
    order: 2;
  }
}
