.container {
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px 20px;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.navigationSection {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    justify-content: space-between;
  }
  .navigationSection {
    display: flex;
    gap: 7px;
    align-items: center;
  }
  .icon {
    transform: rotate(-90deg);
  }
}
