.container {
  display: flex;
  justify-content: center;
  flex-basis: 58%;
  padding: 140px 20px 70px;
  overflow: auto;
}

.content {
  display: flex;
  width: 100%;
  min-height: 100%;
  max-width: 408px;
  flex-direction: column;
  justify-content: space-between;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationSocialNetwork {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  padding: 24px;
}

.registrationTitle {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

.socialNetworkIcons {
  display: flex;
  gap: 16px;
}

.noAccountSection {
  display: flex;
  background-color: #d1d1d145;
  padding: 16px 24px;
  justify-content: space-between;
  border-radius: 12px;
}

.noAccountSection > span {
  color: #222;
  font-size: 14px;
}

.registerLink {
  color: #6212ff;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    flex-basis: 100%;
    padding: 106px 20px 30px;
    overflow: visible;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 40px 10px 30px;
  }
}
