.container {
  display: flex;
  justify-content: center;
  flex-basis: 58%;
  padding: 140px 20px 70px;
  overflow: auto;
}

.content {
  display: flex;
  width: 100%;
  min-height: 100%;
  max-width: 408px;
  flex-direction: column;
  justify-content: space-between;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.confirmTitle {
  font-size: 12px;
  font-weight: 400;
  color: #5b5a5a;
}

.confirmList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.confirm {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

input[type="checkbox"]:hover {
  border-color: #6a0bff;
}

input[type="checkbox"]:checked {
  background-color: #6a0bff;
}

input[type="checkbox"]:checked::after {
  content: "\2714";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.confirmLink {
  font-size: 12px;
  font-weight: 400;
  color: #6a0bff;
  text-decoration: underline;
}

.confirm > span {
  font-size: 12px;
  font-weight: 400;
  color: #5b5a5a;
}

.registrationSocialNetwork {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  padding: 24px;
}

.registrationTitle {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

.socialNetworkIcons {
  display: flex;
  gap: 16px;
}

.noAccountSection {
  display: flex;
  background-color: #d1d1d145;
  padding: 16px 24px;
  justify-content: space-between;
  border-radius: 12px;
}

.noAccountSection > span {
  color: #222;
  font-size: 14px;
}

.registerLink {
  color: #6212ff;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    flex-basis: 100%;
    padding: 106px 20px 30px;
    overflow: visible;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 40px 10px 30px;
  }
}
